container {
    margin: 50px;
    width: 60px;
}

body {
  font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
  color: #404040;
  background: #FFFFFF;
}

btn-row {
    position: relative;
    padding: 10px;
    
}

list {
	list-style: square;
	
}