
body	{font:13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;position:relative;}

.inner {
	-moz-border-bottom-colors: none; 
	-moz-border-image: none; 
	-moz-border-left-colors: none; 
	-moz-border-right-colors: none; 
	-moz-border-top-colors: none; 
	/* background: none repeat scroll 0 0 #EDEDED; */ 
	border-bottom-left-radius: 3px; 
	border-bottom-right-radius: 3px; 
	border-style: none; 
	border-width: medium 1px 1px; 
	padding: 10px; line-height:18px;
}
.inner .whiteBox {BORDER-BOTTOM: #999 1px solid; BORDER-LEFT: #999 1px solid; PADDING-BOTTOM: 15px; MARGIN: 0px 0px 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #fff; BORDER-TOP: #999 1px solid; BORDER-RIGHT: #999 1px solid; PADDING-TOP: 10px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; display:block; clear:both;}


.wrapper .cvv_focus	{
	display:inline-block;
	right: 0;
	width: 50px !important;
	min-width: 40px !important;
	margin: 0 0 0 10px !important;
}

.content_l {
    float: left;
    margin-bottom: 40px;
    /* margin-left: 0; */
    margin-right: 0;
    margin-top: 0;
    width: 72%;
}

ul {
    list-style-type: none;
    padding-bottom: 0;
    padding-left: 0; 
    padding-right: 0;
    padding-top: 0;
}

.oa.steps .inner .settings h2 {
    border-bottom-color: #999999;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
.settings > h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}



.grats .alert .success 			{padding-top:8px; padding-left:8px; background: none repeat scroll 0 0 #DCF0D3 !important; border: 1px solid #6EB250; color: #43A619; padding: 0;}
.grats .success p 				{padding:8px 0 7px 24px; margin-left:0; border-bottom: 1px solid #6EB250;}
.grats .success p:last-child 	{border-bottom: 0 none;}
.grats .success p.last-child 	{border-bottom: 0 none;}
.grats .success p span.act_status 	{display:inline-block;width: 150px;}
.grats .success p span.act_name 	{display:inline-block;width: 295px;}
.grats .success p span.act_num 		{display:inline-block;width: 155px; text-align: right}


.grats .alert.sect_error					{padding:8px 8px 0px 8px !important; background: none repeat scroll 0 0 #F7DBDA; border: 1px solid #AA1612; color: #AA1612;}
.grats .sect_error p 				{padding:8px 0 7px 24px; margin-left:0; border-bottom: 1px solid #D68885; color: #AA1612;}
.grats .sect_error p:first-child 	{margin-top:5px;}
.grats .sect_error p:last-child 	{border-bottom: 0 none;}
.grats .sect_error p.last-child 	{border-bottom: 0 none;}
.grats .sect_error p span.act_status{display:inline-block;width: 150px;}
.grats .sect_error p span.act_name 	{display:inline-block;width: 295px;}
.grats .sect_error p span.act_num 	{display:inline-block;width: 155px; text-align: right}

.grats h2 {-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background: whiteSmoke;
    background: -moz-linear-gradient(center top , #F5F5F5 0%, #D9D9D9 100%) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,whiteSmoke), color-stop(100%,#D9D9D9));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#d9d9d9',GradientType=0 );
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    color: gray;
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 11px;
    padding-left: 10px;
    padding-right: 0;
    padding-top: 8px;
    border: 1px solid #A6A6A6;
    border-radius: 3px;
}
.grats h3 							{border-bottom-color: #999999; border-bottom-style: solid; border-bottom-width: 1px; padding-bottom: 5px; padding-left: 0; padding-right: 0; padding-top: 0; font-size: 16px; font-weight: bold; margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0;}
.grats h4							{font-size: 13px; margin-bottom: 5px; margin-left: 0; margin-right: 0; margin-top: 8px; font-weight: bold;}
.grats li > p 						{color: #666666; margin-top: 5px; margin-bottom: 5px; margin-left: 3%; margin-right: 3%; width: 94%;}
.grats ul 							{list-style-type: none; margin-bottom: 0; margin-left: 0; margin-right: 0; margin-top: 0;}


.congrats h2 {
	position: relative;
		font-size: 18px;
		line-height: 21px;
		font-weight: bold;
		color: #fff;
		text-shadow: 0 1px 0 #000;
		padding: 8px 0 11px 10px;
		border-radius: 3px 3px 0 0;
		border: 1px solid #0E2D53;
		background: #044A7C;
		background: -moz-linear-gradient(top, #044A7C 0%, #143256 100%) repeat scroll 0 0 transparent;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#044A7C), color-stop(100%,#143256));
		background: -webkit-linear-gradient(top, #044A7C 0%,#143256 100%);
		background: -o-linear-gradient(top, #044A7C 0%,#143256 100%);
		background: -ms-linear-gradient(top, #044A7C 0%,#143256 100%);
		background: linear-gradient(top, #044A7C 0%,#143256 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#044a7c', endColorstr='#143256',GradientType=0 );
		margin: 0;
}

.congrats a 						{float: right;}

.act_settings						{margin-top:10px !important;}
.act_settings li		 			{margin:3px 0;}


/***************************************
ALMOST DONE
****************************************/
.almostDone h1 {font-size: 36px !important; font-weight: bold; line-height: 34px; margin: 0; padding: 30px 0 8px;}

.almostDone h1 + p {margin: 0 0 10px;}


/**************************************
RIGHT COLUMN
***************************************/

.content_r, .content2_r {
    float: left;
    margin: 0 0 0 2%;
    padding-bottom: 152px;
}

.content_faq {
    float: left;
    margin-right: 20px;
}

.content2_r h2 {
	color: #333333;
	font-size: 18px;
	font-weight: bold;
	margin: 20px 0 0;
}
	
ul {
    list-style-type: none;
    margin: 10px 0;
    /* padding: 0; */
}

alert {
	padding: 0px 8px 0px 8px !important;
}

.alert.success {
	background: none repeat scroll 0 0 #DCF0D3 !important;
	padding: 0px 8px !important;
}

.alert.error {
	background: none repeat scroll 0 0 #F7DBDA !important;
	padding: 0px 8px !important;
}
.error {
	background: none repeat scroll 0 0 !important;
	padding: 2px 3px 2px 6px !important;
}

.content2_r h2 {
    color: #333333;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0 0;
}	

.modal {
	float: left;
	left: auto;
    margin: 0 5% 15%;
    min-height: 400px;
    padding: 3px;
    position: fixed;
    top: 10%;
    width: 864px;
    z-index: 100;
    font-size: 13px; 
    line-height: 18px;  
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 6px 6px 3px 3px;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 6px 6px 3px 3px;
	-webkit-box-shadow: 0px 0px 12px 0px rgba(00, 00, 00, 1);
	box-shadow: 0px 0px 12px 0px rgba(00, 00, 00, 1);
    display: block;
    padding: 3px;
    vertical-align: baseline;
}

.modal .close {
	position: relative;
	*top: -40px;
}

.modal:hover {
	text-decoration: none;
}

.modal .modal_content {
    height: 360px;
    overflow-y: scroll;
    padding: 0 15px;
    border: 0 none;
    font: inherit;
    margin: 0;
    vertical-align: baseline;
}

.modal h2 {
    border: 1px solid #0E2D53;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    padding: 0 0 0 15px;
    margin: 0px !important;
	background: #044a7c;
	background: -moz-linear-gradient(center top , #044A7C 0%, #143256 100%) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#044A7C), color-stop(100%,#143256));
	background: -webkit-linear-gradient(top, #044A7C 0%,#143256 100%);
	background: -o-linear-gradient(top, #044A7C 0%,#143256 100%);
	background: -ms-linear-gradient(top, #044A7C 0%,#143256 100%);
	background: linear-gradient(top, #044A7C 0%,#143256 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#044a7c', endColorstr='#143256',GradientType=0 );
}

.modal h3 {
    border-bottom: 1px solid #D9D9D9;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
    margin: 0;
    padding: 5px 0 0;
}

.modal_content {   
    margin-right:20px;
    padding-bottom:40px;
    margin:0;
    padding: 0;
    border:0;
    font-size:100%;
    vertical-align: baseline;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    font-family: 'Helvetica Neue',Helvetica, Arial, Geneva, sans-serif;
}

.faq ol {
	color: #333333;
    font-weight: bold;
    list-style: decimal outside none;
    margin: 20px 0 0 20px;
    padding: 0;
}
.faq ol li {
    margin: 0 0 20px;
    color: #333333;
    border: 0 none;
    vertical-align: baseline;
    font-weight: bold;
}
.faq ol li p {
	color: inherit;
	font-weight: inherit;
    margin: 0;
    font: inherit;
    line-height: 15.5px !important;
}

.faq ol li h4 {
	color: #888888;
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    font: 13px 'Helvetica Neue',Helvetica, Arial, Geneva, sans-serif;
    line-height: 15.5px !important;
}

.faq ol li h5 {
	color: #333333;
    font-weight: bold;
    margin: 0;
    font-size: 13px;
    font-family: sans-serif;
}

.faq ul {
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
}

.faq ul li {
	color: #888888;
    font-weight: normal;
    list-style-type: disc;
    margin: 0 0 5px 20px;
}

/*
 * Callouts for OLA
 */
.callout-first, .callout-second {
	float: left;
	width: 450px;
	margin: 40px 0 25px;
}

.callout-first {
	padding-right: 10px;
}

.callout-second {
	padding-left: 10px;
}

.callout-first img, .callout-second img {
	padding-right: 10px;
	float: left;
}

.callout-first h6, .callout-second h6 {
	margin: 0;
	font-weight: bold;
	font-size: 1.1em;
}

.callout-first p, .callout-second p {
	margin: 0 0 5px;
}

.ola-content {
	position: relative; 
	width: 940px; 
	margin: 0; 
	padding: 0;
	width: 100%;
}

.buildbook-theme-buildbook_singlePageSinglePortlet .buildbook-window .ola-content h4 {
	margin: 0 0 5px;
}

.ola-content h2 {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    padding-top: 20px;
}

.ola-content h5 {
    font-weight: bold;
}

.ola-content ul {
    list-style-type:disc;
    margin: 0 0 0 42px;
}

.ola-content div.msg {
	border-bottom: 1px solid #CCCCCC; 
	padding-bottom: 28px; 
	position: relative; 
	top: -20px; 
	max-width: 100%;
}

.msg span {
    float: right;
    font-size: 13px;
    font-weight: normal;
}

.chat-header {
    float: right;
    font-size: 13px;
    font-weight: normal;
}

.btn-row {
	position: relative; 
	width: 940px; 
	margin: 25px auto 0; 
	padding: 10px 10px 0;
}

a.button.primary.med-btn.take_me.no-js-cookie-disable {
	margin-bottom: 0px;
}

/********
:FOCUS
********/
button:focus,
.button:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
input[type="button"]:focus,
button.primary:focus,
.button.primary:focus,
input[type="reset"].primary:focus,
input[type="submit"].primary:focus,
input[type="button"].primary:focus,
button.secondary:focus,
.button.secondary:focus,
input[type="reset"].secondary:focus,
input[type="submit"].secondary:focus,
input[type="button"].secondary:focus,
button.info:focus,
.button.info:focus,
input[type="reset"].info:focus,
input[type="submit"].info:focus,
input[type="button"].info:focus,
button.help:focus,
.button.help:focus,
input[type="reset"].help:focus,
input[type="submit"].help:focus,
input[type="button"].help:focus,
button.danger:focus,
.button.danger:focus,
input[type="reset"].danger:focus,
input[type="submit"].danger:focus,
input[type="button"].danger:focus 
  {
	-webkit-transition: box-shadow .45s ease;transition: box-shadow .45s ease;outline-color: transparent;outline-style: none;box-shadow: 0 0 7px #1291f3;border-color: #275A9F;
}

.content_1 {
	padding-bottom: 40px;
}