/***** GLOBAL SETTINGS *****/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 						{ margin: 0; padding: 0; border: 0; font: inherit; text-align: left; }



article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section 		{ display: block; }
img												{ border: none; }
ol, ul 											{ list-style: none; }
table											{ border-collapse: collapse; border-spacing: 0;}


html, body										{ line-height: 1; font-size: 62.5%; color: #333; font-family: "HelveticaNeue", "Helvetica Neue", Arial, sans-serif; 
												  height: 100%; min-height: 100%; background: url('../img/bg_body.png') repeat #f3f3f3; }





/***** CLEARFIX *****/
.cf:before, .cf:after		{ content: " "; display: table; }
.cf:after					{ clear: both; }
.cf							{ *zoom: 1; }





/***** FONTS *****/
@font-face 						{ font-family: 'TGB';
			 					  src: url('fonts/tradegothiclt-bold-webfont-webfont.eot');
			 					  src: url('fonts/tradegothiclt-bold-webfont-webfont.eot?#iefix') format('embedded-opentype'),
             	  					   url('fonts/tradegothiclt-bold-webfont-webfont.woff') format('woff'),
             	  					   url('fonts/tradegothiclt-bold-webfont-webfont.ttf') format('truetype'),
             	  					   url('fonts/tradegothiclt-bold-webfont-webfont.svg#TradeGothicLTBold') format('svg'); }
             	  				



/***** HEADERS & TEXT *****/
.mast_head	 					{ font-size: 32px; font-weight: bold; margin-bottom: 8px; padding-bottom: 8px; }

.page_title						{ font-size: 28px; font-size: 2.8rem; font-weight: bold; margin-bottom: 8px; padding-bottom:8px; }								
.head_xlarge					{ font-size: 24px; font-size: 2.4rem; font-weight: bold; margin-bottom: 10px; font-family: Arial; }
.head_large						{ font-size: 21px; font-size: 2.1rem; font-weight: bold; margin-bottom: 10px; }
.head_med						{ font-size: 16px; font-size: 1.6rem; font-weight: bold; margin-bottom: 10px; font-family: Arial; }								
.head_small						{ font-size: 13px; font-size: 1.3rem; font-weight: bold; margin-bottom: 10px; }
.type_xsmall					{ font-size: 11px; font-weight: normal; color: #6e6e6e; }
.type_alt_ital					{ font-size: 13px; font-size: 1.3rem; color:#6e6e6e; font-style:italic; font-weight: normal; }
.head_alt_up					{ font-size: 11px; font-size: 1.1rem; font-weight: bold; color:#6e6e6e; text-transform: uppercase; }
.type_normal					{ font-size: 13px; font-size: 1.3rem; font-weight: normal; color: #333; text-transform: none; }

.head_b_bot 					{ border-bottom: 1px solid #d6d6d6; box-shadow:0px 1px 0px #fff; }

.aside_head  					{ border-bottom:1px solid #d6d6d6; box-shadow:0px 1px 0px #fff; padding: 0 0 5px 0; margin: 0 0 12px 0; }

p, li, table					{ font-size: 13px; font-size: 1.3rem; line-height: 18px; }
p								{ padding: 0 0 10px 0; }





/***** LINKS *****/
a:link, a:visited, a:hover, a:active	{ color: #0a71c5; text-decoration: none; }
a:hover 								{ text-decoration: underline; }





/***** WRAPPERS *****/

/*page wrap*/
#wrap					{ min-height: 100%; }

/*section wrap - center*/
.wrap 					{ position: relative; width: 100%; max-width: 960px; margin: 0 auto; }




/***** GLOBAL NOTIFICATION *****/
.global_notification						{ display: none; color: #fff; position:relative; top: 0; width: 100%; height:42px; padding: 0; 
											  background: #db3737;
											  background: -moz-linear-gradient(top, #db3737 0%, #891111 100%);
											  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#db3737), color-stop(100%,#891111));
											  background: -webkit-linear-gradient(top, #db3737 0%,#891111 100%);
											  background: -o-linear-gradient(top, #db3737 0%,#891111 100%);
											  background: -ms-linear-gradient(top, #db3737 0%,#891111 100%);
											  background: linear-gradient(top, #db3737 0%,#891111 100%);
											  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db3737', endColorstr='#891111',GradientType=0 ); }

.global_notification  img					{ float:left; margin:12px 0; vertical-align:middle; line-height:42px; max-width: 18px; }
.global_notification  p						{ width:75%; padding: 4px 0 0 0; margin:0 0 0 10px; float:left; }
.global_notification  .close				{ overflow:hidden; text-indent:100%; white-space:nowrap; display:block; width: 18px; 
											  height:19px; float:right; margin: 10px 2%; padding: 0; 
											  background: url(../img/icons/global_sprite.png) no-repeat -3px -51px; }





/***** HEADER *****/
header										{ height: 90px; position: relative; background: url(../img/bg_header.png) repeat-x; box-shadow: 0 2px 5px rgba(0,0,0,0.3); }
.logo_wrap									{ float: left; margin-top: 17px; padding: 0; }
a.logo										{ height: 58px; width: 170px; overflow: hidden; text-indent: 100%; white-space: nowrap; 
											  display: block; background: url(../img/logo_capitalone.png) no-repeat; }




/***** CENTER CONTENT *****/
.page_help						{ float: right; margin-top: 6px; padding-right: 2px; }
.page_help img					{ width: 25px; box-shadow: 0 1px 3px #666; border-radius: 15px; }		 
.main 							{ overflow: auto; padding-bottom: 224px; clear: both; position: relative; }

section.left 					{ position: relative; width: 75%; float: left; margin: 30px 2% 10px 0; }
section.full 					{ position: relative; width: 100%; margin: 30px 0 10px; }
section.half_left 				{ position: relative; width: 49%; margin: 30px 2% 10px 0; }
section.half_right				{ position: relative; width: 49%; margin: 30px 0 10px;}

aside 							{ position: relative; width: 23%; float: left; margin: 74px 0 0 0;}

article.bricklet				{ background: #fff; border-radius: 3px; box-shadow: 0px 1px 3px #808080; float: left; padding: 12px 2%; 
						  	  	  position: relative; width: 96%; margin-bottom: 30px; }

article.container				{ width: 100%; float: left; margin-bottom: 30px; }
article.container .head_large	{ padding-bottom: 10px; width: 75%; }
article.container .right_link	{ float: right; }

aside > article.bricklet		{ padding: 12px 4%; width: 92%; }
aside > article.bricklet p		{ padding: 0; }

aside ul li 					{ margin-bottom: 7px;}





/***** FOOTER *****/ 
footer					{ clear: both; position: relative; height: 182px; margin-top: -224px; padding: 20px 0; 
						  border-top: 1px solid #ccc; box-shadow: inset 0 1px 0 #fff; background: url('../img/bg_footer.png') repeat #ebebeb; }
footer li span			{ margin-right: 10px; border-bottom: 4px solid transparent; border-top: 4px solid transparent; border-left: 4px solid #666666; display: inline-block; height: 0; vertical-align: middle; width: 0; }
footer ul				{ margin:5px 0 20px 0;}
footer ul li			{ font-size: 11px; font-size: 1.1rem; display: inline; text-transform: uppercase; font-weight: bold; padding-left: 0px; margin-right: 25px; }
footer ul li a			{ text-decoration: none; color: #6e6e6e !important; }
footer p				{ margin-bottom: 15px; }
footer img				{ float: left; padding: 0 20px 20px 0; }
.fdic					{ max-width: 39px; }
.ehl					{ max-width: 36px; }
.verisign				{ max-width: 63px; }





/***** RETINA IMAGES *****/
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 

html, body										{ background: url('../img/r2_bg_body.png') repeat #f3f3f3; background-size:  61px; }
.global_notification  .close					{ background: url(../img/icons/r2_global_sprite.png) no-repeat -2px -74px; background-size: 29px; }
a.logo											{ background: url(../img/r2_logo_capitalone.png) no-repeat; background-size: 161px 56px; }


}

