<div>
    <div class="btn-row">
        <div class="prefix_2 grid_14">
            <section ng-controller="LoginController">
                <h1>{{loginPage.heading}}</h1>
                <form ng-submit="login()">
                <ul class="prefix_1">
                    <li class="error" ng-show="loginPage.badAuthentication">
                        The username or password entered were incorrect.
                    </li>
                    <li>
                        Username: &nbsp;
                        <input type="text" ng-model="loginPage.username"/>
                    </li>
                    <li>
                        Password: &nbsp;
                        <input type="password" ng-model="loginPage.password" />
                    </li>
                    <li>
                        <input type="submit" value="Submit" />
                    </li>
                </ul>
                </form>
        </div>
    </div>
</div>